<!DOCTYPE html>
<html>
  <head>
    <title>oerpub.repo Admin Console</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no' name='viewport'>
<!--
    <script src='http://code.jquery.com/jquery-latest.js' type='text/javascript'></script>
-->
    <script src='/jquery-latest.js' type='text/javascript'></script>

    <style type="text/css">
      body {
        counter-reset: step-number;
        background-color: #F0F1EB;
        font-family: serif;
      }
      h2 {
        counter-increment: step-number;
        margin-top: 0.25em;
        font-family: sans-serif;
      }
      h2::before { content: counter(step-number) ". "; color: #ccc; }
      textarea { width: 25em; height: 10em; }
      table { width: 100%; }
      td, th { border: 1px solid; padding: 0em 0.5em; }
      table caption { text-align: left; font-weight: bold; }
      abbr { white-space: nowrap; }
      
      .monitor,
      .login,
      .create, .update, 
      .derive {
        float: left;
        margin: 0.5em;
        padding: 0.5em;
        background-color: white;
        box-shadow: 10px 11px 44px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
      }
      
    </style>
  </head>
  <body>

    <div class="login">
      <h2>Log in to Create Content</h2>
      <form action="/login" method="POST">
        <p>Log in with one of these OpenID Providers:</p>
        <select name="identifier">
          <option value="https://www.google.com/accounts/o8/id">Google</option>
          <option value="https://me.yahoo.com">Yahoo</option>
          <option value="https://openid.stackexchange.com/">StackExchange</option>
          <option value="https://www.aol.com">AOL</option>
          <option value="http://www.livejournal.com/openid/server.bml">Live Journal</option>
        </span>
        <input type="submit" value="Log In"/>
      </form>

      <p>Or, provide a URL given by your OpenID Provider</p>
      <form action="/login" method="POST">
        <input name="identifier"/>
        <input type="submit" value="Log In"/>
      </form>
    </div>

    <div class="create">
      <h2>Create new Content</h2>
      <form action="/create" method="POST">
        <p>Resource body (the HTML):</p>
        <textarea name="body">
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;Hello there! I really like
      &lt;a href="http://cnx.org"&gt;Connexions&lt;/a&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </textarea>
        <div>
          <input type="button" name="submit" value="Commit!"/>
        </div>
      </form>
    </div>
    
    <div class="update">
      <h2>Submit a new Version</h2>
      <form action="/content/" method="POST">
        <div class="id">
          <span>Resource id of published resource (just a number):</span>
          <input name="_id" value="0" size="3em" />
        </div>
        <p>Resource body (the HTML):</p>
        <textarea name="body">
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;Hello there! I really like
      &lt;a href="http://cnx.org"&gt;Connexions&lt;/a&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </textarea>
        <div>
          <input type="button" name="submit" value="Commit!"/>
        </div>
      </form>
    </div>


    <div class="derive">
      <h2>Derive a new resource from a URL</h2>
      <form action="/derive">
        <span>URL: </span>
        <input name="url" value="http://cnx.org/content/m9003/latest/" style="width: 20em;"/>
        <input type="button" name="submit" value="Derive!"/>
      </form>

      <form action="/derive">
        <span>Or pick one: </span>
        <select name="url">
          <option value="http://cnx.org/content/m9003/latest/">cnx.org module m9003</option>
          <option value="http://en.wikipedia.org/wiki/Campaign_finance_reform">Wikipedia Article on Campaign Finance</option>
          <option value="https://docs.google.com/document/pub?id=1Cv5ozsGi5ukXTe8d_NlDExQg-o1lHvKuLH8RVJXqZRE">Published Google Doc (uses https)</option>
        <input type="button" name="submit" value="Derive!"/>
      </form>
    </div>


    <div class="monitor"/>

    <script type="text/javascript">
//<!--

//$.ready(function() {

var monitor = $('.monitor');

//Make the forms AJAXy
$('form').each(function(id, form) {
  var $form = $(form);
  var action = $form.attr('action');
  var method = $form.attr('method');
  var inputs = $form.find('input,textarea,select');
  var submit = $form.find('input[name=submit]');
  
  if(!method) { method = 'GET'; }
  
  submit.on('click', function() {
    var params = {};
    inputs.each(function(i, input) {
      $input = $(input);
      if($input.attr('name')) {
        params[$input.attr('name')] = $input.val();
      }
    });
    var action2 = action;
    if($form.find('input[name=_id]').length > 0) {
      action2 += $form.find('input[name=_id]').val();
    }
    
    $.ajax(action2, {
      type: method,
      data: params,
      success: function(text, status) {
        alert("Succeeded with message (Check this URL for status): " + text);
      },
      statusCode: {
        404: function() {
          alert("Error! Did you log in? To Perform this operation you must be logged in");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Failed! Did you log in?");
      }
    });
  });

});

tick = function() {
  $.getJSON('/tasks', function(data, textStatus) {
    monitor.children().detach();
    var table = $('<table><caption>Events</caption><tr><th>id</th><th>Status</th><th>Title</th><th>Message</th><th>Success URL</th><th>Created</th><th>Took</th><th>additional</th></tr></table>').appendTo(monitor);

    // Print in reverse
    data = data.reverse();
    for(var id in data) {
      var task = data[id];
      
      var row = $('<tr/>').appendTo(table);
      $('<td><a href="/tasks/'+task.id+'">'+task.id+'</a></td>').appendTo(row);
      $('<td>'+task.status+'</td>').appendTo(row);
      $('<td>'+task.title+'</td>').appendTo(row);
      $('<td>'+task.message+'</td>').appendTo(row);
      if(task.url) {
        // Remove the hostname
        var url = task.url.replace(/https?:\/\/[a-z\.:0-9]+/, '');
        $('<td><a href="' + url + '">' + url + '</a></td>').appendTo(row);
      } else {
        $('<td> - </td>').appendTo(row);
      }
      $('<td>'+task.created+'</td>').appendTo(row);
      
      // Calculate how long it has taken so far
      var start = new Date(task.created);
      var modified = new Date(task.modified);
      var diff = modified.getTime() - start.getTime();
      var minutes = Math.floor(diff / (1000 * 60));
      var seconds = (diff / 1000) % 60;
      
      var spent = ''
      if(minutes > 0) {
        spent += minutes + 'm';
      }
      spent += seconds + 's';
      
      $('<td><abbr title="' + task.modified + '">'+spent+'</abbr></td>').appendTo(row);
      
      var remove = ['id', 'status', 'title', 'url', 'message', 'created', 'modified', 'history'];
      for(var i in remove) {
        var key = remove[i];
        if(key in task) {
          delete task[key];
        }
      }

      var json = '{';
      for(var key in task) {
        json += key;
        json += ':"';
        json += task[key];
        json += '", ';
      }
      json += '}';      

      $('<td>' + json + '</td>').appendTo(row);
        
      id++;
    }
    //$(".easydate").easydate();
    
  });
  setTimeout(tick, 1000);
};

tick();

//});

//-->
    </script>
  </body>
</html>
