<!DOCTYPE html>
<html>
  <head>
    <title>oerpub.repo Admin Console</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no' name='viewport'>
<!--
    <script src='http://code.jquery.com/jquery-latest.js' type='text/javascript'></script>
-->
    <script src='/jquery-latest.js' type='text/javascript'></script>


  <!-- These CSS/javascript files depend on where Aloha is located -->
	<link rel="stylesheet" type="text/css" href="./Aloha-Editor/src/css/aloha.css" />
  <!-- These are the CSS/Javascript files that aren't written as Aloha Plugins -->
<!--	<link rel="stylesheet" type="text/css" href="./oerpub.editor/page.css" />
-->

  <!-- These render the toolbar and menubar -->
  <link rel="stylesheet" type="text/css" href="./oerpub.editor/appmenu/appmenu.css" />


    <style type="text/css">
    
      .toolbar { position: fixed; top: 0; width: 100%; z-index: 1000;}
      .document { border: 2px solid blue; min-height: 4em; }
      body { margin-top: 3em; }
    
      body {
        counter-reset: step-number;
        background-color: #F0F1EB;
        font-family: serif;
      }
      h2 {
        counter-increment: step-number;
        margin-top: 0.25em;
        font-family: sans-serif;
      }
      h2::before { content: counter(step-number) ". "; color: #ccc; }
      textarea { width: 25em; height: 10em; }
      table { width: 100%; }
      td, th { border: 1px solid; padding: 0em 0.5em; }
      table caption { text-align: left; font-weight: bold; }
      abbr { white-space: nowrap; }
      
      .monitor,
      .login,
      .create, .update, 
      .deposit {
        float: left;
        margin: 0.5em;
        padding: 0.5em;
        background-color: white;
        box-shadow: 10px 11px 44px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
      }
      
      th        { color: #666; }
      .PENDING  { background-color: #66f; }
      .WORKING  { }
      .PAUSED   { background-color: #ccc; }
      .FINISHED { color: #ccc; }
      .FINISHED td:first-child { background-color: #cc6; }
      .FAILED   { background-color: #c66; }
      
    </style>

<script type="text/javascript">
window.Aloha = window.Aloha || {};
Aloha.settings = Aloha.settings || {};

// In order to load the toolbar plugin Aloha needs to know where to look it up
// Since the toolbar plugin begins with "custom/" in @data-aloha-plugins
// This points Aloha to use the current directory to find toolba/lib/toolbar-plugin
Aloha.settings.bundles = {
  'custom': '/oerpub.editor/' //document.location.href.replace(/[a-z]+\.html/, '') + ,
};

</script>

<!-- The first plugins are required but the rest are included for playing around with -->
	<script src="./Aloha-Editor/src/lib/aloha.js" data-aloha-plugins="

            custom/toolbar,
            common/dom-to-xhtml,
              common/format,

              extra/cite,
              extra/flag-icons,
              extra/wai-lang,
              common/table,
              common/list,
              common/link,
              common/block,
              common/undo,
              common/contenthandler,
              common/paste,
              common/commands,
              common/image,
              common/abbr,
              extra/browser,
              extra/linkbrowser,
              extra/sourceview"></script>

  <!-- Provide a hotkey handler -->
  <script>jQuery = Aloha.jQuery; // Set window.jQuery because hotkeys bind to it</script>
  <script src="./oerpub.editor/lib/jquery.hotkeys.js"></script>

  <script src="./oerpub.editor/appmenu/appmenu.js"></script>


  </head>
  <body>

    <div class="login">
      <h2>Log in to Create Content</h2>
      <form action="/login" method="POST">
        <p>Log in with one of these OpenID Providers:</p>
        <select name="identifier">
          <option value="https://www.google.com/accounts/o8/id">Google</option>
          <option value="https://me.yahoo.com">Yahoo</option>
          <option value="https://openid.stackexchange.com/">StackExchange</option>
          <option value="https://www.aol.com">AOL</option>
          <option value="http://www.livejournal.com/openid/server.bml">Live Journal</option>
        </span>
        <input type="submit" value="Log In"/>
      </form>

      <p>Or, provide a URL given by your OpenID Provider</p>
      <form action="/login" method="POST">
        <input name="identifier"/>
        <input type="submit" value="Log In"/>
      </form>
    </div>

    <div class="create">
      <h2>Create new Content</h2>
      <form action="/deposit" method="POST">
        <p>Resource body (the HTML):</p>
        <textarea name="url">
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;Hello there! I really like
      &lt;a href="http://cnx.org"&gt;Connexions&lt;/a&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </textarea>
        <div>
          <input type="button" name="submit" value="Commit!"/>
        </div>
      </form>
    </div>
    
    <div class="deposit">
      <h2>Deposit new content from a URL</h2>
      <form action="/deposit" method="POST">
        <span>URL: </span>
        <input name="url" value="http://cnx.org/content/m9003/latest/" style="width: 20em;"/>
        <input type="button" name="submit" value="Deposit!"/>
      </form>

      <form action="/deposit" method="POST">
        <span>Or pick one: </span>
        <select name="url">
          <option value="http://cnx.org/content/m9003/latest/">cnx.org module m9003</option>
          <option value="http://cnx.org/">Connexions Home Page</option>
          <option value="https://docs.google.com/document/pub?id=1Cv5ozsGi5ukXTe8d_NlDExQg-o1lHvKuLH8RVJXqZRE">Published Google Doc (uses https)</option>
        <input type="button" name="submit" value="Deposit!"/>
      </form>
    </div>

    <div class="update">
      <h2>Submit a new Version</h2>
      <form action="/deposit" method="POST">
        <div class="id">
          <span>Resource id of published resource (just a number):</span>
          <input class="dynamic-name" value="0" size="3em" />
        </div>
        <p>Resource body (the HTML):</p>
        <textarea class="dynamic-value">
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;Hello there! I really like
      &lt;a href="http://cnx.org"&gt;Connexions&lt;/a&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </textarea>
        <div>
          <input type="button" name="submit" value="Commit!"/>
        </div>
      </form>
    </div>

    <div class="deposit">
      <h2>Multiple Deposits with a Zip</h2>
      <form action="/deposit" method="POST" enctype="multipart/form-data">
        <span>URL 1:</span> <input name="url" value="http://cnx.org/content/m9003/latest/" style="width: 20em;"/> (*)
        <br/><span>URL 2:</span> <input name="url" value="index.html" style="width: 20em;"/> (*)
        <br/><span>Update URL:</span> <input class="dynamic-name" value="url" style="width: 5em;"/> = <input class="dynamic-value" style="width: 20em;"/> (**)
        <br/><span>Zip File:</span> <input name="archive" type="file"/>
        <br/><input type="submit" value="Deposit!"/>
        <br/><span>* This can be an absolute URL or a relative href into the Zip file.
        <br/>Leave both empty to publish all HTML files in the uploaded Zip file (think EPUB)</span>
        <br/><span>** The 1st box is used either for updating or for adding. The 1st box is either the id or "url" (for new content)
        <br/>The second box can be either: A URL to pull from, a href into the zip, or the raw HTML</span>
      </form>
    </div>

    <div class="monitor"/>

    <script type="text/javascript">
//<!--

//$.ready(function() {

var monitor = $('.monitor');

//Make the forms AJAXy
$('form input.dynamic-name'). each(function(id, input) {
  var $input = $(input);
  $input.on('change', function() {
    var id = $(this).val();
    $input.parents('form').find('.dynamic-value').attr('name', id);
  })
});

$('form:not(enctype=multipart/form-data)').each(function(id, form) {
  var $form = $(form);
  var action = $form.attr('action');
  var method = $form.attr('method');
  var inputs = $form.find('input:not([name=submit]),textarea,select');
  var submit = $form.find('input[name=submit]');
  
  if(!method) { method = 'GET'; }
  
  submit.on('click', function() {
    var params = {};
    inputs.each(function(i, input) {
      $input = $(input);
      if($input.attr('name')) {
        params[$input.attr('name')] = $input.val();
      }
    });

    
    $.ajax(action, {
      type: method,
      data: params,
      success: function(text, status) {
        alert("Succeeded with message (Check this URL for status): " + text);
      },
      statusCode: {
        404: function() {
          alert("Error! Did you log in? To Perform this operation you must be logged in");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Failed! Did you log in?");
      }
    });
  });

});

tick = function() {
  $.getJSON('/tasks', function(data, textStatus) {
    monitor.children().detach();
    var table = $('<table><caption>Events</caption><tr><th>id</th><th>Title</th><th>Message</th><th>Success URL</th><th>Created</th><th>Took</th><th>additional</th></tr></table>').appendTo(monitor);

    // Print in reverse
    data = data.reverse();
    for(var id in data) {
      var task = data[id];
      
      var row = $('<tr/>').appendTo(table);
      
      row.addClass(task.status);
      
      $('<td><a href="/tasks/'+task.id+'">'+task.id+'</a></td>').appendTo(row);
      $('<td>'+task.title+'</td>').appendTo(row);
      $('<td>'+task.message+'</td>').appendTo(row);
      if(task.url) {
        var td = $('<td></td>').appendTo(row);
        var urls = task.url;
        if (!(urls instanceof Array)) urls = [ urls ];
        for (var i=0; i < urls.length; i++) {
          // Remove the hostname
          if (urls[i].replace) {
            var url = urls[i].replace(/https?:\/\/[a-z\.:0-9]+/, '');
            $('<a href="' + url + '">' + url + '</a>').appendTo(td);
            if (i + 1 != urls.length) {
              td.append(', ');
            }
          } else {
            td.append('BUG:no-url');
          }
        }
      } else {
        $('<td> - </td>').appendTo(row);
      }
      $('<td>'+task.created+'</td>').appendTo(row);
      
      // Calculate how long it has taken so far
      var start = new Date(task.created);
      var modified = new Date(task.modified);
      var diff = modified.getTime() - start.getTime();
      var minutes = Math.floor(diff / (1000 * 60));
      var seconds = Math.floor(diff / 1000) % 60;
      
      var spent = ''
      if(minutes > 0) {
        spent += minutes + 'm';
      }
      spent += seconds + 's';
      
      $('<td><abbr title="' + task.modified + '">'+spent+'</abbr></td>').appendTo(row);
      
      var td = $('<td></td>').appendTo(row);
      if (task.origin) {
        $('<a href="' + task.origin + '">' + task.origin + '</a>').appendTo(td);
      }

      var remove = ['id', 'status', 'title', 'url', 'message', 'created', 'modified', 'history', 'origin'];
      for(var i in remove) {
        var key = remove[i];
        if(key in task) {
          delete task[key];
        }
      }

      var json = '{';
      for(var key in task) {
        json += key;
        json += ':"';
        json += task[key];
        json += '", ';
      }
      json += '}';
      
      if (json != '{}') td.append(' ' + json);

        
      id++;
    }
    //$(".easydate").easydate();
    
  });
  setTimeout(tick, 5000);
};

tick();

//});

//-->
    </script>





<!-- Use the new cool editor if it exists -->
  


<!-- With some fancy Javascript wrap each form with a textarea with an editor -->
<script>//<![CDATA[


var header = Aloha.jQuery('<div />').addClass('header').prependTo('body');
Aloha.jQuery('<div />').addClass('menubar').prependTo(header);
Aloha.jQuery('<div />').addClass('toolbar').prependTo(header);

// Once Aloha has loaded, bind it all
Aloha.ready(function() {

  var edits = ['<div><p>Hello there!</p><p>You can enter any HTML in here.</p><h1>Heading1</h1><h3>Heading 3</h3><ul><li>Lists supported</li><li><ol><li>And sublists</li></ol></li><p>Lists <b>and</b> <i>multiple</i> lines, <sub>subscripts</sub>, <q>quotes</q>, <a href="http://cnx.org">links</a>!</p></div>', '<div>Insert Some other HTML here</div>']
  var editIndex = 0;

  var texts = Aloha.jQuery('textarea');
  texts.each(function(i, el) {

    var $el = Aloha.jQuery(el);
    $el.hide();
    
    var edit = Aloha.jQuery(edits[editIndex++ % edits.length]).addClass('document').insertAfter($el).aloha();
    
    setInterval(function() {
      $el.val('<html><body>' + edit.html().trim() + '</body></html>');
    }, 1000);
  }); // End texts.each
}); // End Aloha.ready
// ]]>
</script>


  </body>
</html>
